{% extends 'company_navbar.html' %}

{% block title %} All Applicants {% endblock %}
{% block all_applicants %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
    <table class="table table-hover" id="example">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>Job Title</th>
                <th>Applicant</th>
                <th>Applied On</th>
                <th>Resume</th>
                <th>Accept/Reject</th>
            </tr>
        </thead>
        <tbody>
            {% for i in application %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.job }}</td>
                <td>{{ i.applicant }}</td>
                <td>{{ i.apply_date }}</td>
                <td>|<a href="{{ i.resume.url }}" class="btn"><i class="fa fa-file"></i></a>|</td>
                <td>
                    {% if i.status == "Accepted" %}
                        <span class="text-success">Accepted</span>
                    {% elif i.status == "Rejected" %}
                        <span class="text-danger">Rejected</span>
                    {% else %}
                        <a href="{% url 'accept_applicant' i.pk %}" class="btn btn-success">
                            <i class="fa fa-thumbs-up"></i> Accept
                        </a>
                        |
                        <a href="{% url 'reject_applicant' i.pk %}" class="btn btn-danger">
                            <i class="fa fa-thumbs-down"></i> Reject
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
